<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="cordova-music-controller"
    version="0.0.1">

    <name>RemoteCommand and PlayingInfo</name>
    <description>Cordova Media Remote Command and Now Playing Info Centers Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,media,remote command center,now playing info center</keywords>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/MusicControls.js" target="js/MusicControls.js"/>
    <js-module src="www/MusicControls.js" name="MusicControls">
        <clobbers target="MusicControls" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MusicControls" >
                <param name="android-package" value="com.cykra.musiccontrols.MusicControls"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="com.homerours.musiccontrols.MusicControlsNotificationKiller"></service>
    </config-file>
        <source-file src="src/android/KillBinder.java" target-dir="src/com/cykra/musiccontrols" />
        <source-file src="src/android/MusicControls.java" target-dir="src/com/cykra/musiccontrols" />
        <source-file src="src/android/MusicControlsBroadcastReceiver.java" target-dir="src/com/cykra/musiccontrols" />
        <source-file src="src/android/MusicControlsInfos.java" target-dir="src/com/cykra/musiccontrols" />
        <source-file src="src/android/MusicControlsNotification.java" target-dir="src/com/cykra/musiccontrols" />
        <source-file src="src/android/MusicControlsNotificationKiller.java" target-dir="src/com/cykra/musiccontrols" />
    </platform>

     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="MusicControls">
                 <param name="ios-package" value="MusicControls" />
             </feature>
         </config-file>
         <header-file src="src/ios/MusicControls.h" />
         <source-file src="src/ios/MusicControls.m" />
     </platform>

</plugin>
